# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# etc.
.cache/
.vscode/
build/
assets/*.exr
assets/*.mip
assets/*.ply
assets/wdas_cloud/
compile_commands.json

*.jpg
*.png
*.exr

*.log

cache/